html, body, h1, h2, p{
    margin:0;
    padding:0;
}
header, nav, footer{
    padding:5px;
    height: 5em;
}
header{
    background-color: aqua;
}
nav{
    background-color: red;
}
#flex{
    display:flex;
}
section{
    background-color:yellow;
    width: 70%;
    padding: 15px;
}
article{
    background-color:orange;
    padding:5px;
    margin: 1px;
}

aside{
    background-color:grey;
    width: 30%;
    padding:5px;
}
footer{
    background-color:red;
}

